$aside-width: 20%;

$red-color: #db5860;
$green-color: #59a869;
$disabled-color: #d9d9d9;

.workbench {
  display: flex;
  height: 100%;

  aside {
    width: $aside-width;
  }

  main {
    width: 100% - $aside-width;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.toolbar {
  display: flex;
  padding: 5px 15px;
  background-color: rgba(236, 236, 236, 0.3);

  .operations {
    display: flex;
    align-items: center;
    font-size: 1.5em;

    .op {
      cursor: pointer;
      border-radius: 2px;

      + .op {
        margin-left: 15px;
      }

      &:hover {
        background-color: rgba(187, 187, 187, 0.3);
      }

      &-disabled {
        color: $disabled-color !important;
        cursor: default;

        &:hover {
          background-color: unset;
        }
      }

      &-red {
        color: $red-color;
      }

      &-green {
        color: $green-color;
      }
    }
  }

  .search {
    margin-left: auto;

    .ant-input-group-addon {
      .anticon {
        user-select: none;
        margin: 0 3px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

#terminal {
  width: 100%;
  flex-grow: 1;
}
