.resizable-handle {
  position: absolute;
  transition: all 0.6s;
  &-e {
    cursor: ew-resize;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
  }
  &:hover {
    background-color: rgba(131, 131, 131, 0.3);
  }
}
