.app {
  height: 100vh;
  display: flex;

  & > aside {
    position: relative;
    .ant-menu {
      height: 100%;
      background-color: rgba(241, 241, 241, 0.3);

      &.ant-menu-inline-collapsed {
        width: 50px;
      }
      .ant-menu-item-icon {
        font-size: 20px !important;
      }
    }
    .github {
      position: absolute;
      bottom: 10px;
      left: 50%;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.7);
      transform: translateX(-50%);
    }
  }
  & > main {
    width: 100%;
  }
}
